.content
  footer#myFooter
    .container
      .row
        .col-sm-3.myCols
          h5 Alexander Bankier
          ul
            li
              a(href="/") Home
            
            
        .col-sm-3.myCols
          h5 My Resume 
          ul
            li 
              a(href="/resume") My Resume
        .col-sm-3.myCols
          h5 Contact Me
          ul
            li 
              a(href="/contact") Contact Me
        .col-sm-3.myCols
          h5 Other Interesting Things
          ul
            li 
              a(href="#") Cool Things
            


    .social-networks
      a.twitter
        i.fa.fa-linkedin
      a.facebook 
        i.fa.fa-facebook
      a.google
        i.fa.fa-google-plus

    .footer-copyright
      p © 2017 Philip Bankier