extends ../layout

block content
  header#header.header
    //- header-start
    .container
      figure.logo.animated.fadeInDown.delay-07s
        a(href='#')
          img(src='images/facePic.jpg' alt='')
      h1.animated.fadeInDown.delay-07s Hello I'm Alexander Bankier
      ul.we-create.animated.fadeInUp.delay-1s
        li Add description here
      a.link.animated.fadeInUp.delay-1s.servicelink(href='#service') My Experience
  //- header-end
  nav#test.main-nav-outer
    //- main-nav-start
    .container
      ul.main-nav
        li
          a(href='/') Home
        li
          a(href='/resume') My Resume
        li.small-logo
          a(href='#header')
            img(src='images/small-logo.png' alt='')
        li
          a(href='/blog') My Blog
        li
          a(href='#contact') Contact
      a.res-nav_click(href='#')
        i.fa-bars
  //- main-nav-end
 
  .container
    br
    br
    img(src='images/ResumeNov3.jpg' alt='')
  br
  br

  section.main-section.alabaster
    .container.bot
      section#contact.main-section.contact
        .row
          .col-lg-6.col-sm-7.wow.fadeInLeft
            .contact-info-box.address.clearfix
              h3
                i.icon-map-marker
                | Location:
              span
                | Los Angeles 
            .contact-info-box.phone.clearfix
              h3
                i.fa-phone
                | Phone:
              span 1-800-BOO-YAHH
            .contact-info-box.email.clearfix
              h3
                i.fa-pencil
                | email:
              span alex@bankier.com
            .contact-info-box.hours.clearfix
              h3
                i.fa-clock-o
                | Hours:
              span
                strong Monday - Thursday:
                |  10am - 6pm
                br
                strong Friday:
                |  People work on Fridays now?
                br
                strong Saturday - Sunday:
                |  Best not to ask.
            ul.social-link
              li.twitter
                a(href='#')
                  i.fa-twitter
              li.facebook
                a(href='#')
                  i.fa-facebook
              li.pinterest
                a(href='#')
                  i.fa-pinterest
              li.gplus
                a(href='#')
                  i.fa-google-plus
              li.dribbble
                a(href='#')
                  i.fa-dribbble
          .col-lg-6.col-sm-5.wow.fadeInUp.delay-05s
            .form
              #sendmessage Your message has been sent. Thank you!
              #errormessage
              form.contactForm(action='' method='post' role='form')
                .form-group
                  input#name.form-control.input-text(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                  .validation
                .form-group
                  input#email.form-control.input-text(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                  .validation
                .form-group
                  input#subject.form-control.input-text(type='text' name='subject' placeholder='Subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                  .validation
                .form-group
                  textarea.form-control.input-text.text-area(name='message' rows='5' data-rule='required' data-msg='Please write something for us' placeholder='Message')
                  .validation
                .text-center
                  button.input-btn(type='submit') Send Message
  footer.footer
    .container
      .footer-logo
        a(href='#')
          img(src='images/footer-logo.png' alt='')
      span.copyright &copy; PB Industries 2017
      .credits
        a(href='https://github.com/philipbankier') Website By Philip Bankier

  script(type='text/javascript').
    $(document).ready(function(e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function() {
        $('.main-nav').slideToggle();
      return false
      });
    });

  script.
    wow = new WOW({
      animateClass: 'animated',
      offset: 100
    });
    wow.init();

  script(type='text/javascript').
    $(window).load(function() {
      $('.main-nav li a, .servicelink').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top - 102
        }, 1500, 'easeInOutExpo');
        /*
        if you don't want to use the easing effects:
        $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
        }, 1000);
        */
        if ($(window).width() < 768) {
          $('.main-nav').hide();
        }
        event.preventDefault();
      });
    })

  script(type='text/javascript').
    $(window).load(function() {
      var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;
      $container.isotope({
        // disable window resizing
        resizable: true,
        masonry: {
          columnWidth: colW
        }
      });

      $(window).smartresize(function() {
        // check if columns has changed
        var currentColumns = Math.floor(($body.width() - 30) / colW);
        if (currentColumns !== columns) {
          // set new column count
          columns = currentColumns;
          // apply width to container manually, then trigger relayout
          $container.width(columns * colW)
          .isotope('reLayout');
        }
      }).smartresize(); // trigger resize to set container width
      $('.portfolioFilter a').click(function() {
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
        var selector = $(this).attr('data-filter');
        $container.isotope({
          filter: selector,
        });
        return false;
      });
    });
