extends ../layout

block content
  //- .container-fluid.topper.text-center.bg-1.bot
  //-   .container-fluid
  //-     br
  //-     br
  //-     br
  //-     img.img-responsive.margin#resume(src="/images/ResumeNov3.jpg", alt="Image", align="middle")
  //-     br
  //-     br
  //-     br